data/
figs/
example/
temp/
logs/
.venv/
.vscode/
.DS_Store
.ipynb_checkpoints
__pycache__/

get_spectra.ipynb
qso.ipynb

!data/merged_results.csv
!data/E-INSPIRE+DESI.csv
!data/UCMGS_Sigma_10.5_Vdisp_130_Mstar_E10_SFR_50_NoBalmer_age_5.csv
!data/e-inspire2/